<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<select id="queryUsersWithNoParams" resultType="cn.impler.framework.mybatis.dao.domain.User">
		SELECT ID, USERNAME, TELNUMBER, EMAIL FROM T_USERACCOUNT 
	</select>
	
	<select id="queryUsersWithParams" resultType="cn.impler.framework.mybatis.dao.domain.User">
		SELECT ID, USERNAME, TELNUMBER, EMAIL FROM T_USERACCOUNT WHERE USERNAME LIKE CONCAT('%', #{username}, '%')
	</select>
</mapper>